.login{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
.login:focus {
    background-color: white;
    transform: scale(1.03);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff
  }
.senha{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    margin-left: 1pc;
  }
.senha:focus{
    background-color: white;
  transform: scale(1.03);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff
}
.caixa{
    text-align: center;
    margin-top: 4%;
}
h2{
    text-align: center;
    margin-top: 3%;
    margin-right: 5%;
    font-family: "rationell medium", Times, serif;}
button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #ffffff;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin-right: 5Spx;
    margin-left: 20px;
    width: 150px;
  }
.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    min-width: 200px;
    margin-right: 2pc;
    margin-top: 10%;
    margin-bottom: 15%;
}
  
button:hover .button_top {
    transform: translateY(-0.33em);
}
  
button:active .button_top {
    transform: translateY(0);
}
.entrar{
    text-align: left;
    text-align: right;
    margin-right: 1pc;
    margin-left: 2pc;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
button[name="meuBotao"]{
  display: block;
  width: 100px;
}

.caixa-login {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
  padding: 50px;
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  margin: 100px auto 0;
}

/* Estilo para o formulário dentro da caixa */
.caixa-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa-login input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  width: 100%;
}

.caixa-login input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.caixa-login button:hover {
  background-color: #555;
}

.caixa-login img{
  max-width:  100%;
  height: auto;
}

.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

body{
  background-color: #f0f2f5;
}

p{
  text-align: center;
}

a{
  margin-top: 20%;
  text-decoration: none;
  color: rgb(16, 123, 211);
}
